<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
   <div style="text-align: center;">


         <form action="https://ssl.dotpay.pl/test_payment/" method="post" target="_parent">
            {%csrf_token%}
           <input type="radio" name="amount" value="50.00" checked />50.00 zł<br />
           <input type="hidden" name="type" value="0" />
           <input type="hidden" name="currency" value="PLN" />   
           <input type="hidden" name="id" value="746269" />
           <input type="hidden" name="description" value="Test" />
           <input type="hidden" name="url" value="http://127.0.0.1:8000/payment/premium-plans/pay-ok" />
           <input type="hidden" name="chk" value="00f500c93110362b27350f10db994d22a3bc4dad69d52fb4876d2637e8c3cb53" />
           <!-- <input type="radio" name="amount" value={{form.amount.as_hidden}} checked />50.00 zł<br />
           <input type="hidden" name="type" value={{form.type.as_hidden}} />
           <input type="hidden" name="currency" value={{form.currency.as_hidden}} />   
           <input type="hidden" name="id" value={{form.id}} />
           <input type="hidden" name="description" value={{form.description.as_hidden}} />
           <input type="hidden" name="url" value={{form.url.as_hidden}} />
           <input type="hidden" name="chk" value={{form.chk.as_hidden}} /> -->


            
           <p><br><button class="buttomDarowizna">Wpłać darowiznę</button></p>
         </form>
         <input type="hidden" name="currency" value={{form.id.as_hidden}} />   

         
    </div>
    
</body>
</html>