{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block scriptshead %}
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class='container-sm' style="width: 20rem; padding-top: 3rem;">
        <form id="submit-form" method='submit' class="row g-3" autocomplete="off">
            <div class="form-outline" >
                <input type="text" id="key" maxlength="4" placeholder="Please enter key:" class="form-control"/>
                <label class="form-label" for="key">Please enter key:</label>
                <input type="password" id="password" placeholder="Please enter new password:" class="form-control"/>
                <label class="form-label" for="password">Please enter new password:</label>
                <input type="password" id="password2" placeholder="Repeat new password:" class="form-control"/>
                <label class="form-label" for="password2">Repeat new password:</label>
            </div>            
            <button id="submit-key" type="submit" class="btn btn-primary btn-block" >Set new password</button>            
        </form>
    </div>     
    {% endblock %}
    {% block scripts %}
    <script>
        let secretKey = "{{key}}"
        let userID = "{{user_id}}"
        let userName = "{{user_name}}"

        let submitBtn = document.querySelector('#submit-key')
        let keyInput = document.querySelector('#key')
        let password = document.querySelector('#password')
        let password2 = document.querySelector('#password2')
        function redirect2home(){
            window.location.replace("https://chess-masterclass.onrender.com")
        }
        submitBtn.addEventListener('click', (e) => {
            e.preventDefault()
            
            if(keyInput.value === secretKey){
                if(password.value.length > 7){
                    if(password.value === userName){
                        console.log('same username and password')
                    }else if (password.value === password2.value){
                        setTimeout(() => {redirect2home();}, 5000)
                        setNewPassword(secretKey, userID)
                        console.log('200')
                    }else{
                        console.log('passwords are not the same')
                    }
                }else{
                    console.log('password is too short')
                }
            }else{
                console.log('wrong key')
            }         
        })

        function setNewPassword(secretKey, userID){
            let url = "{% url 'set-new-pass-API' %}"

            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'userID': userID, 'secretKey': secretKey, 'password': password.value,
                    'password2': password2.value,
            })
            })
            .then((response) =>{
                return response.json()
            })

            .then((data) =>{
            })
            }
    </script>
    {% endblock %}
</body>
</html>